flows.json
[
    {
        "id": "02af63d9ade08080",
        "type": "tab",
        "label": "DASHBOARD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69d916fe4d77b4e1",
        "type": "ui_button",
        "z": "02af63d9ade08080",
        "name": "",
        "group": "89c633413262bc0e",
        "order": 1,
        "width": 7,
        "height": 2,
        "passthru": false,
        "label": "Liga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "49ab72fbaf172c25"
            ]
        ]
    },
    {
        "id": "09d958e4b8d12281",
        "type": "ui_button",
        "z": "02af63d9ade08080",
        "name": "",
        "group": "89c633413262bc0e",
        "order": 3,
        "width": 7,
        "height": 2,
        "passthru": false,
        "label": "Desliga",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "49ab72fbaf172c25"
            ]
        ]
    },
    {
        "id": "49ab72fbaf172c25",
        "type": "s7 out",
        "z": "02af63d9ade08080",
        "endpoint": "71f19e929242b5fb",
        "variable": "LIGA_DASH",
        "name": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "7ca967352063adde",
        "type": "s7 in",
        "z": "02af63d9ade08080",
        "endpoint": "71f19e929242b5fb",
        "mode": "single",
        "variable": "MOTOR",
        "diff": true,
        "name": "",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "e53bfc03898984ab"
            ]
        ]
    },
    {
        "id": "6143bdb92b752822",
        "type": "ui_chart",
        "z": "02af63d9ade08080",
        "name": "",
        "group": "89c633413262bc0e",
        "order": 7,
        "width": 5,
        "height": 6,
        "label": "MONITORAMENTO SENSOR 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a677179f964571c2",
        "type": "s7 in",
        "z": "02af63d9ade08080",
        "endpoint": "71f19e929242b5fb",
        "mode": "single",
        "variable": "MOTOR",
        "diff": true,
        "name": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "6143bdb92b752822"
            ]
        ]
    },
    {
        "id": "fe9df5ede7a20134",
        "type": "s7 in",
        "z": "02af63d9ade08080",
        "endpoint": "71f19e929242b5fb",
        "mode": "single",
        "variable": "MOTOR",
        "diff": true,
        "name": "",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "15c9ad0e3d1a1ec2"
            ]
        ]
    },
    {
        "id": "e53bfc03898984ab",
        "type": "ui_chart",
        "z": "02af63d9ade08080",
        "name": "",
        "group": "89c633413262bc0e",
        "order": 6,
        "width": 6,
        "height": 6,
        "label": "MONITORAMENTO SENSOR 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "15c9ad0e3d1a1ec2",
        "type": "ui_chart",
        "z": "02af63d9ade08080",
        "name": "",
        "group": "89c633413262bc0e",
        "order": 8,
        "width": 5,
        "height": 6,
        "label": "MONITORAMENTO SENSOR 3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "09420c971dc8a310",
        "type": "s7 in",
        "z": "02af63d9ade08080",
        "endpoint": "71f19e929242b5fb",
        "mode": "single",
        "variable": "MOTOR",
        "diff": true,
        "name": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "9721d842cfc34d78"
            ]
        ]
    },
    {
        "id": "b703905e700805ea",
        "type": "s7 in",
        "z": "02af63d9ade08080",
        "endpoint": "71f19e929242b5fb",
        "mode": "single",
        "variable": "MOTOR",
        "diff": true,
        "name": "",
        "x": 760,
        "y": 360,
        "wires": [
            [
                "689480c3346ffa7d"
            ]
        ]
    },
    {
        "id": "dd53993d6d3a1daa",
        "type": "s7 in",
        "z": "02af63d9ade08080",
        "endpoint": "71f19e929242b5fb",
        "mode": "single",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 760,
        "y": 460,
        "wires": [
            [
                "ee1404f8eb343528"
            ]
        ]
    },
    {
        "id": "9721d842cfc34d78",
        "type": "ui_gauge",
        "z": "02af63d9ade08080",
        "name": "",
        "group": "89c633413262bc0e",
        "order": 10,
        "width": 5,
        "height": 6,
        "gtype": "donut",
        "title": "1º TANQUE",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "689480c3346ffa7d",
        "type": "ui_gauge",
        "z": "02af63d9ade08080",
        "name": "",
        "group": "89c633413262bc0e",
        "order": 11,
        "width": 6,
        "height": 6,
        "gtype": "donut",
        "title": "2º TANQUE",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "ee1404f8eb343528",
        "type": "ui_gauge",
        "z": "02af63d9ade08080",
        "name": "3º TANQUE",
        "group": "89c633413262bc0e",
        "order": 12,
        "width": 5,
        "height": 6,
        "gtype": "donut",
        "title": "3º TANQUE",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 460,
        "wires": []
    },
    {
        "id": "2a0feb725de2024b",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "09d16335b16da235",
        "order": 1,
        "width": "1",
        "height": "1"
    },
    {
        "id": "7fa91d1ef4c14c0b",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "743c9646164a8ca7",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "94dfd711d767bb60",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "743c9646164a8ca7",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "c261eb4e669c4665",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "743c9646164a8ca7",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "d7189e05c4113581",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "6515d1e25c87ae81",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "82186b5573bf620e",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "61d9479f8328ccee",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "89c633413262bc0e",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "2c3a0d8c43147262",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "89c633413262bc0e",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "6d26f2f18e1bef73",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "89c633413262bc0e",
        "order": 5,
        "width": 16,
        "height": 1
    },
    {
        "id": "344c31d9aa3498b0",
        "type": "ui_spacer",
        "z": "02af63d9ade08080",
        "name": "spacer",
        "group": "89c633413262bc0e",
        "order": 9,
        "width": 16,
        "height": 1
    },
    {
        "id": "89c633413262bc0e",
        "type": "ui_group",
        "name": "Monitoramento Tanques",
        "tab": "05b4827bac2df681",
        "order": 1,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "71f19e929242b5fb",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.1",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "S7 1500",
        "vartable": [
            {
                "addr": "I0.1",
                "name": "LIGA"
            },
            {
                "addr": "I0.5",
                "name": "SENSOR"
            },
            {
                "addr": "Q0.1",
                "name": "LED"
            },
            {
                "addr": "Q0.5",
                "name": "MOTOR"
            },
            {
                "addr": "M10.0",
                "name": "LIGA MOTOR"
            },
            {
                "addr": "M10.4",
                "name": "BOMBA_T1"
            },
            {
                "addr": "M10.5",
                "name": "BOMBA_T2"
            },
            {
                "addr": "M10.6",
                "name": "BOMBA_T3"
            },
            {
                "addr": "M10.0",
                "name": "LIGA_DASH"
            },
            {
                "addr": "",
                "name": ""
            },
            {
                "addr": "",
                "name": ""
            }
        ]
    },
    {
        "id": "09d16335b16da235",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "05b4827bac2df681",
        "type": "ui_tab",
        "name": "SUPERVISÓRIO",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]